<main-sidebar-header></main-sidebar-header>
<main-sidebar-container></main-sidebar-container>

<div class="modal fade" id="modalDetallRequisicion">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">Productos requisicion</h6>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body table-responsive p-0" style="height:300px;width: 100%;overflow-y: visible">
              <div class="row" *ngIf='preload_detalle'>
                <div class="col-md-2 offset-md-5">
                    <i class="fa fa-circle-o-notch fa-spin" style="font-size:64px"></i>  
                </div>
              </div>
              <table class="table table-hover" *ngIf='!preload_detalle'>
                <tbody><tr>
                  <th>Codigo</th>
                  <th>Nombre</th>
                  <th>Cantidad Pedida</th>
                  <th>Valor Unitario</th>
                  <th>Subtotal</th>
                  <th>Cantidad Entregada</th>
                </tr>
                <tr *ngFor="let producto of listaDetalle">
                  <td>{{producto.codigo_producto}}</td>
                  <td>{{producto.nombre_producto}}</td>
                  <td>{{producto.cantidad_pedida}}</td>
                  <td>${{producto.valor_unitario}}</td>
                  <td>${{producto.subtotal}}</td>
                  <td>{{producto.cantidad_entrega}}</td>
                </tr>
                </tbody>
              </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
  
      </div>
    </div>
</div>

<div class="wrapper" >
    <div class="content-wrapper">
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark" id="prueba">Requisicion lista</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item">
                    <a class="nav-link" [routerLink]="['/requisicion-crear']">
                      <i class="fa fa-plus-circle"></i> Nueva Requisicion
                    </a>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
         <section class="content">
            <div class="row" *ngIf='preload'>
              <div class="col-md-2 offset-md-5">
                  <i class="fa fa-circle-o-notch fa-spin" style="font-size:64px"></i>  
              </div>
            </div>
          <div class="container-fluid">
              <div class="card" *ngFor="let lista of listaRequisicion">
                  <div class="card-header no-border">
                    <div class="card-tools float-left">
                      <div class="btn-group show">
                          <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-ellipsis-v"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="top-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-125px, -148px, 0px);">
                            <a href="javascript:void(0)" class="nav-link dropdown-item" (click)="abrirDetalle(lista.id)">Ver detalles</a>
                            <a href="javascript:void(0)" class="nav-link dropdown-item" (click)="confirmarAnulacion(lista.id)">Anular</a>
                          </div>
                      </div>
                    </div>
                    <h5 class="card-title"><strong>Id :</strong> {{lista.id}}</h5>
                    <div class='row'>
                      <div class="col-md-12 col-sm-12">
                        <strong>Titulo :</strong> {{lista.titulo}}
                      </div>
                    </div>
                    <div class='row'>
                      <div class="col-md-12 col-sm-12">
                        <strong>Proposito de la compra :</strong> {{lista.proposito_compra}}
                      </div>
                    </div>
                    <div class='row' *ngIf="lista.motivo_rechazo!=null">
                      <div class="col-md-12 col-sm-12">
                        <strong>Motivo Rechazo : </strong> {{lista.motivo_rechazo}}
                      </div>
                    </div>
                    <div class='row'>
                      <div class="col-md-4 col-sm-6">
                        <strong>Estado : </strong> {{lista.estado}}
                      </div>
                      <div class="col-md-4 col-sm-6">
                          <strong>Valor total : </strong>${{lista.valor_total}}
                        </div> 
                      <div class="col-md-4 col-sm-6">
                        <strong>Fecha creacion : </strong>{{lista.fecha_creacion}}
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        </section>
    </div>
    
  </div>
  <main-footer></main-footer>
  <!-- ./wrapper -->
  