<footer class="main-footer mt-4">
  <strong>Copyright &copy; 2019 <a href="#">Gestion compras</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 1.0-beta
  </div>
  </footer>
  