<main-sidebar-header></main-sidebar-header>
<main-sidebar-container></main-sidebar-container>

<div class="wrapper" >
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h4 class="m-0 text-dark">Compras </h4>
                </div>
              </div>
            </div>
          </div>
         <section class="content">
          <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group"> 
                        <label for="exampleInputEmail1">Fecha Inicial</label>
                        <input type="date" class="form-control" name='fechaInicial' [(ngModel)]="fechaInicial">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group"> 
                          <label for="exampleInputEmail1">Fecha Final</label>
                          <input type="date" class="form-control" name='fechaFinal' [(ngModel)]="fechaFinal">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group"> 
                          <label for="exampleInputEmail1">&nbsp;</label>
                          <button class="btn  btn-info float-right form-control" (click)='generarInforme()' [disabled]='preload'>
                              Generar Informe
                            <i style='font-size:20px' class="fa fa-spinner fa-spin fa-loader"  *ngIf='preload'></i>
                          </button>
                    </div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="row" *ngIf='preload'>
              <div class="col-md-2 offset-md-5">
                  <i class="fa fa-circle-o-notch fa-spin" style="font-size:64px"></i>  
              </div>
            </div>

            <div class="card">
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover">
                    <thead><tr>
                      <th>Area</th>
                      <th>Enero</th>
                      <th>Febrero</th>
                      <th>Marzo</th>
                      <th>Abril</th>
                      <th>Mayo</th>
                      <th>Junio</th>
                      <th>Julio</th>
                      <th>Agosto</th>
                      <th>Septiembre</th>
                      <th>Octubre</th>
                      <th>Noviembre</th>
                      <th>Diciembre</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let lista of listaInforme">
                      <td>{{lista.nombre_ciudad}}</td>
                      <td>{{lista.enero}}</td>
                      <td>{{lista.febrero}}</td>
                      <td>{{lista.marzo}}</td>
                      <td>{{lista.abril}}</td>
                      <td>{{lista.mayo}}</td>
                      <td>{{lista.junio}}</td>
                      <td>{{lista.julio}}</td>
                      <td>{{lista.agosto}}</td>
                      <td>{{lista.septiembre}}</td>
                      <td>{{lista.octubre}}</td>
                      <td>{{lista.noviembre}}</td>
                      <td>{{lista.diciembre}}</td>
                    </tr>
                  </tbody></table>
                </div>
                <!-- /.card-body -->
              </div>
          </div>
        </section>
    </div>
</div>

<main-footer></main-footer>
  