<!-- Main Sidebar Container -->
<!--<aside class="main-sidebar sidebar-dark-primary elevation-4" style='z-index:9999'>-->
  <aside class="main-sidebar sidebar-light-primary elevation-4" style='z-index:9999'>
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link ">
      <img src="assets/img/app/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light"><strong>GESTION COMPRAS</strong></span>
    </a>
  
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{currentUser.imagen}}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{currentUser.nombre}}</a>
        </div>
      </div>
  
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <div class="row" *ngIf='preload'>
            <div class="col-md-2 offset-md-4">
                <i class="fa fa-circle-o-notch fa-spin" style="font-size:48px"></i>  
            </div>
          </div>               
          <li class="nav-item" *ngFor="let lista of listaNavegacion">
            <a class="nav-link " [routerLinkActive]="['active']" [routerLink]="[lista.url]">
              <i class="nav-icon fa " [ngClass]="lista.icono"></i>
              <p>
                {{lista.nombre}}
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  <!-- /Main Sidebar Container -->
  