<div class="login-box" >
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <div class="login-logo">
        <a href="../../index2.html"><strong></strong></a>
        <img id="profile-img" class="profile-img-card" src="assets/img/app/logo.png" />
      </div>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="input-group mb-3">
          <div class="input-group-append">
              <span class="fa fa-envelope input-group-text"></span>
          </div>
          <input type="text" class="form-control" name="usuario" [(ngModel)]='usuario' placeholder="Usuario">
        </div>
        <div class="input-group mb-2">
          <div class="input-group-append">
              <span class="fa fa-lock input-group-text"></span>
          </div>
          <input type="password" class="form-control" name="clave" [(ngModel)]='clave' placeholder="Contraseña">
        </div>
        <div class="row">
          <div class="col-12">
            <button class="btn btn-primary btn-block btn-flat mt-5 mb-3" type="submit" [disabled]='preload'>
              Acceder
              <i style='font-size:20px' class="fa fa-spinner fa-spin fa-loader"  *ngIf='preload'></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
