<main-sidebar-header></main-sidebar-header>
<main-sidebar-container></main-sidebar-container>

<div class="modal fade" id="modalEntrega">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">Entrega</h6>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Cantidad a ingresar</label>
              <input type="number" class="form-control" name='cantidad_ingreso' [(ngModel)]='cantidad_ingreso'>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
        </div>
  
      </div>
    </div>
</div>

<div class="wrapper" >
    <div class="content-wrapper">
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark" id="prueba">Requisicion entrega</h1>
              </div>
            </div>
          </div>
        </div>
         <section class="content">
            <div class="row" *ngIf='preload'>
              <div class="col-md-2 offset-md-5">
                  <i class="fa fa-circle-o-notch fa-spin" style="font-size:64px"></i>  
              </div>
            </div>
          <div class="container-fluid">
              <div class="card" *ngFor="let lista of listaRequisicion">
                  <div class="card-header no-border">
                    <div class="card-tools float-left">
                      <div class="btn-group show">
                          <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-ellipsis-v"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="top-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-125px, -148px, 0px);">
                            <a href="javascript:void(0)" class="nav-link dropdown-item" (click)="abrirEntrega()">Entregar</a>
                          </div>
                      </div>
                    </div>
                    <h5 class="card-title"><strong>Id :</strong> {{lista.id}}</h5>
                    <div class='row'>
                      <div class="col-md-4 col-sm-6">
                        <strong>Solicitante :</strong> {{lista.solicitante}}
                      </div>
                      <div class="col-md-4 col-sm-6">
                          <strong>Producto :</strong> {{lista.producto}}
                        </div>
                    </div>
                    <div class='row'>
                      <div class="col-md-4 col-sm-6">
                        <strong>Cantidad pedida : </strong> {{lista.cantidad_pedida}}
                      </div>
                      <div class="col-md-4 col-sm-6">
                          <strong>Cantidad entregada : </strong>{{lista.cantidad_entregada}}
                      </div> 
                    </div>
                  </div>
              </div>
          </div>
        </section>
    </div>
    
  </div>
  <main-footer></main-footer>
  <!-- ./wrapper -->
  