<div class="wrapper" >
    <main-sidebar-header></main-sidebar-header>
    <main-sidebar-container></main-sidebar-container>

    <div class="modal fade" id="modalDetalleOrden" >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Productos orden de compra</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body table-responsive p-0" style="height:300px;width: 100%;overflow-y: visible">
                <div class="row" *ngIf='preload_detalle'>
                  <div class="col-md-2 offset-md-5">
                      <i class="fa fa-circle-o-notch fa-spin" style="font-size:64px"></i>  
                  </div>
                </div>
                <table class="table table-hover" *ngIf='!preload_detalle'>
                  <thead><tr>
                    <th>Producto</th>
                    <th>Cantidad pedida</th>
                    <th>Valor unitario</th>
                    <th>Subtotal</th>
                    <th>Cantidad recibida</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let lista of listaDetalle">
                    <td>{{lista.nombre_producto}}</td>
                    <td>{{lista.cantidad_pedida}}</td>
                    <td>{{lista.valor_unitario}}</td>
                    <td>{{lista.subtotal}}</td>
                    <td>{{lista.cantidad_recibida}}</td>
                  </tr>
                  </tbody></table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
    
        </div>
      </div>
    </div>
  
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 class="m-0 text-dark" id="prueba">Ordenes de compra</h1>
                </div>
              </div>
            </div>
          </div>
         <section class="content">
          <div class="row" *ngIf='preload'>
            <div class="col-md-2 offset-md-5">
                <i class="fa fa-circle-o-notch fa-spin" style="font-size:64px"></i>  
            </div>
          </div>
          <div class="container-fluid">
              <div class="card" *ngFor="let lista of listaOrdenCompra">
                  <div class="card-header no-border">
                    <div class="card-tools float-left">
                      <div class="btn-group show">
                          <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-ellipsis-v"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="top-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-125px, -148px, 0px);">
                            <a href="javascript:void(0)" class="nav-link dropdown-item" (click)="abrirDetalleOrden(lista.id)">Ver detalles</a>
                            
                          </div>
                      </div>
                    </div>
                    <h5 class="card-title">Id : {{lista.id}}</h5>
                    <div class='row'>
                      <div class="col-md-4 col-sm-6">
                        <strong>Proveedor : </strong>{{lista.nombre_proveedor}}
                      </div>
                      <div class="col-md-4 col-sm-6">
                          <strong>Valor total : </strong>${{lista.valor_total}}
                      </div>
                      <div class="col-md-4 col-sm-6">
                        <strong>Estado : </strong>{{lista.nombre_estado}}
                      </div>
                      <div class="col-md-4 col-sm-6">
                          <strong>Fecha creacion : </strong>{{lista.fecha_creacion}}
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        </section>
    </div>

    <main-footer></main-footer>
  </div>
  <!-- ./wrapper -->
  