<main-sidebar-header></main-sidebar-header>
<main-sidebar-container></main-sidebar-container>


<div class="wrapper" >
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 class="m-0 text-dark">Requisicion revision</h1>
                </div>
              </div>
            </div>
          </div>
         <section class="content">
            <div class="row" *ngIf='preload'>
              <div class="col-md-2 offset-md-5">
                  <i class="fa fa-circle-o-notch fa-spin" style="font-size:64px"></i>  
              </div>
            </div>
          <div class="container-fluid">
              <div class="card" *ngFor="let lista of listaRequisicion">
                  <div class="card-header no-border">
                    <div class="card-tools float-left">
                      <div class="btn-group show">
                          <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-ellipsis-v"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="top-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-125px, -148px, 0px);">
                            <a href="javascript:void(0)" class="nav-link dropdown-item" [routerLink]="['/requisicion-revision-detalle',lista.id]">Revisar</a>
                          </div>
                      </div>
                    </div>
                    <h5 class="card-title">Id : {{lista.id}}</h5>
                    <div class='row'>
                      <div class="col-md-12 col-sm-12">
                        <strong>Proposito de la compra : </strong>{{lista.proposito_compra}}
                      </div>
                    </div>
                    <div class='row'>
                      <div class="col-md-4 col-sm-6">
                          <strong>Solicitante : </strong>{{lista.solicitante}}
                      </div>
                      <div class="col-md-4 col-sm-6">
                          <strong>Valor total : </strong>${{lista.valor_total}}
                      </div>
                      <div class="col-md-4 col-sm-6">
                        <strong>Fecha de la solicitud : </strong>{{lista.fecha_creacion}}
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </section>
    </div>
  </div>
  <main-footer></main-footer>
  