<main-sidebar-header></main-sidebar-header>
<main-sidebar-container></main-sidebar-container>

<div class="wrapper" >
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 class="m-0 text-dark">Nueva requisicion</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item">
                        <a class="nav-link" [routerLink]="['/requisicion-lista']">
                          <i class="fa fa-arrow-left"></i> Volver
                        </a>
                      </li>
                    </ol>
                  </div>
              </div>
            </div>
          </div>
         <section class="content">
          <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Titulo</label>
                    <input type="email" class="form-control" name='titulo' [(ngModel)]='titulo'>
                  </div>
                  <div class="form-group">
                    <label>Motivo de compra</label>
                    <textarea class="form-control" rows="2" name='motivo_compra' [(ngModel)]='motivo_compra'></textarea>
                  </div>
                </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Productos requisicion</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3">
                      <div class="form-group">
                          <label>Producto</label>
                          <select class="form-control" name="filtro_producto" [(ngModel)]='filtro_producto'>
                            <option value=''>Seleccione un producto</option>
                            <option value='{{producto.id}}' *ngFor="let producto of select_producto">{{producto.id}} - {{producto.nombre}}</option>
                          </select>
                        </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label for="exampleInputEmail1">Cantidad</label>
                          <input type="number" class="form-control" name="filtro_cantidad" [(ngModel)]='filtro_cantidad'>
                        </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label for="exampleInputEmail1">Valor</label>
                          <input type="number" class="form-control" name="filtro_valor" [(ngModel)]='filtro_valor'>
                        </div>
                  </div>
                  <div class="col-md-2">
                      <div class="form-group">
                          <label for="exampleInputEmail1">&nbsp; </label>
                          <a href="javascript:void(0)" class="form-control btn  btn-info" (click)="agregarItem()">Agregar</a>
                        </div>
                  </div>
                </div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Eliminar</th>
                      <th>Producto</th>
                      <th>Cantidad</th>
                      <th>Valor unitario</th>
                      <th>Subtotal</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let lista of listaProductos;let i = index">
                    <td align='center'>
                      <button type="button" class="btn btn-sm btn-primary" (click)="quitarItem(i)">
                        <i class="fa fa-times"></i>
                      </button>  
                    </td>
                    <td>{{lista.codigo_producto}} - {{lista.nombre_producto}}</td>
                    <td>{{lista.cantidad_pedida}}</td>
                    <td>{{lista.valor_unitario}}</td>
                    <td>{{lista.subtotal}}</td>
                  </tr> 
                  </tbody>
                </table>
              </div>
              <div class="card-footer">
                  <div class="row">
                    <div class="col-sm-6 col-6">
                        <div class="description-block border-right">
                          <h5 class="description-header">{{cantidad_total}}</h5>
                          <span class="description-text">CANTIDAD ITEMS</span>
                        </div>
                      </div>
                    <div class="col-sm-6 col-6">
                      <div class="description-block border-right">
                        <h5 class="description-header">${{valor_total}}</h5>
                        <span class="description-text">VALOR TOTAL</span>
                      </div>
                    </div>
                </div>
              </div>
            </div>

            <button class="btn  btn-info float-right" (click)='guardar()' [disabled]='preload_envio'>
                Guardar Requisicion
              <i style='font-size:20px' class="fa fa-spinner fa-spin fa-loader"  *ngIf='preload_envio'></i>
            </button>
            
          </div>
        </section>
    </div>
  </div>
  <main-footer></main-footer>
  