<main-sidebar-header></main-sidebar-header>
<main-sidebar-container></main-sidebar-container>

<div class="wrapper" >
    <div class="modal fade" id="modalRechazoRequisicion">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"></h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Motivo de rechazo</label>
                <textarea class="form-control" rows="3" name="motivo_rechazo" [(ngModel)]='motivo_rechazo'></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="rechazar()">Rechazar</button>
            </div>
      
          </div>
        </div>
      </div>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 class="m-0 text-dark">Detalle requisicion</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item">
                        <a class="nav-link" [routerLink]="['/requisicion-revision']">
                          <i class="fa fa-arrow-left"></i> Volver
                        </a>
                      </li>
                    </ol>
                  </div>
              </div>
            </div>
          </div>
         <section class="content">
          <div class="row" *ngIf='preload'>
            <div class="col-md-2 offset-md-5">
                <i class="fa fa-circle-o-notch fa-spin" style="font-size:64px"></i>  
            </div>
          </div>
          <div class="container-fluid">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Productos requisicion</h3>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead><tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Valor unitario</th>
                    <th>Subtotal</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let producto of detalleProdutos">
                      <td>{{producto.codigo_producto}} - {{producto.nombre_producto}}</td>
                      <td>{{producto.cantidad_pedida}}</td>
                      <td>{{producto.valor_unitario}}</td>
                      <td>{{producto.subtotal}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer">
                  <div class="row">
                    <div class="col-sm-6 col-6">
                        <div class="description-block border-right">
                          <h5 class="description-header">{{cantidad_total}}</h5>
                          <span class="description-text">CANTIDAD ITEMS</span>
                        </div>
                      </div>
                    <div class="col-sm-6 col-6">
                      <div class="description-block border-right">
                        <h5 class="description-header">${{valor_total}}</h5>
                        <span class="description-text">VALOR TOTAL</span>
                      </div>
                    </div>
                </div>
              </div>
            </div>

            <a href="javascript:void(0)" class="btn  btn-info float-right ml-3" (click)="aprobarRequisicon()">Aprobar</a>
            <a  href="javascript:void(0)" class="btn  btn-default float-right" (click)="rechazarRequisicion()">Rechazar</a>
            
          </div>
        </section>
    </div>

  </div>
  <main-footer></main-footer>
  