<div class="wrapper" >
  <main-sidebar-header></main-sidebar-header>
  <main-sidebar-container></main-sidebar-container>



  <div class="content-wrapper">
      <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
              </div>
            </div>
          </div>
        </div>
       <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="offset-md-4 col-md-12">
                <img src="assets/img/app/ordenes.png" alt="Logo" class="w-35"
                style="opacity: .8">
            </div>
          </div>
        </div>
      </section>
  </div>
  
  <aside class="control-sidebar control-sidebar-dark" style="top: 57px;">
    <div class="p-3">
      <h5>
        <a  href="#" data-widget="control-sidebar" data-slide="true">
          <i class="fa fa-chevron-left"></i>
          <span class='float-right'>Dispositivos</span>
        </a>
      </h5>
      <hr>
    </div>
  </aside>

  <main-footer></main-footer>
</div>
<!-- ./wrapper -->
