<!-- Navbar -->
<!--<nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom main-header-fixed">-->
  <nav class="main-header navbar navbar-expand navbar-dark bg-primary border-bottom main-header-fixed">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a class="nav-link" [routerLink]="['/principal']">Inicio</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown ">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="fa fa-bell-o icon-size-20"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right bg-light" style="margin-right: -20px;">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fa fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fa fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fa fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
  
      <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
              <i class="fa fa-chevron-down"></i>
            <!--<div class="user-block-logo">
              <img class="img-circle img-bordered-sm" src="assets/img/app/user.jpg" >
            </div>-->
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right ">
            <div class="box-profile bg-light">
  
  
            <div class="widget-user ">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <!--<div class="widget-user-header bg-info-active text-white" style="background: url('assets/img/app/rastreo.jpg')" >-->
                  <div class="widget-user-header bg-info-active text-white" style="background-color:#167cff" >
                  <h3 class="widget-user-username"><strong>{{this.currentUser.nombre}}</strong></h3>
                  <h6 class="widget-user-desc">{{this.currentUser.rol}}</h6>
                </div>
                <div class="widget-user-image mt-2">
                  <img class="img-circle elevation-2" src="{{this.currentUser.imagen}}" alt="User Avatar">
                </div>
  
              </div>
            <ul class="nav nav-pills flex-column  mt-4">
                  <!--<li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/login']">
                      <i class="fa fa-user"></i> Perfil
                      <i class="fa fa-chevron-right float-right"></i>
                    </a>
                  </li>-->
                  <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/login']">
                      <i class="fa fa-sign-out"></i> Cerrar sesion
                      <i class="fa fa-chevron-right float-right"></i>
                    </a>
                  </li>
                </ul>
            </div>
          </div>
        </li>
  
  
    </ul>
  </nav>
  <!-- /.navbar -->
  