<main-sidebar-header></main-sidebar-header>
<main-sidebar-container></main-sidebar-container>

<div class="wrapper" >
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h4 class="m-0 text-dark">Informe Tiempos de entrega </h4>
                </div>
              </div>
            </div>
          </div>
         <section class="content">
          <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group"> 
                        <label for="exampleInputEmail1">Fecha Inicial</label>
                        <input type="date" class="form-control" name='fechaInicial' [(ngModel)]="fechaInicial">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group"> 
                          <label for="exampleInputEmail1">Fecha Final</label>
                          <input type="date" class="form-control" name='fechaFinal' [(ngModel)]="fechaFinal">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group"> 
                          <label for="exampleInputEmail1">&nbsp;</label>
                          <a href="javascript:void(0)" class="btn  btn-info float-right form-control" >Generar Informe</a>
                        </div>
                    </div>
                  </div>
                </div>
            </div>

            
            <div class="card">
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover">
                    <thead><tr>
                      <th>Ciuda</th>
                      <th>Categoria</th>
                      <th>Tiempo de entrega</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody></table>
                </div>
                <!-- /.card-body -->
              </div>
          </div>
        </section>
    </div>
</div>

<main-footer></main-footer>
  