<main-sidebar-header></main-sidebar-header>
<main-sidebar-container></main-sidebar-container>
<div class="wrapper" >
    
    <div class="modal fade" id="modalStock">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Stock producto 1</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body table-responsive p-0" style="height:300px;width: 100%;overflow-y: visible">
                <div class="row" *ngIf='preload_stock'>
                  <div class="col-md-2 offset-md-5">
                      <i class="fa fa-circle-o-notch fa-spin" style="font-size:64px"></i>  
                  </div>
                </div>
                <table class="table table-hover" *ngIf='!preload_stock'>
                  <thead><tr>
                    <th>Ciudad</th>
                    <th>Cantidad</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let lista of listaStock">
                    <td>{{lista.ciudad}}</td>
                    <td>{{lista.stock}}</td>
                  </tr>
                  </tbody>
                </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalStockEntrada">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Entrada producto 1</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="exampleInputEmail1">Orden de compra id</label>
                <input type="email" class="form-control" id="exampleInputEmail1">
              </div>
              <div class="form-group">
                  <label for="exampleInputEmail1">Cantidad</label>
                  <input type="email" class="form-control" id="exampleInputEmail1">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="entradaStock()">Aceptar</button>
            </div>
      
          </div>
        </div>
      </div>
  
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 class="m-0 text-dark" id="prueba">Lista de productos</h1>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                      <a class="nav-link" [routerLink]="['/producto-crear']">
                        <i class="fa fa-plus-circle"></i> Nueva producto
                      </a>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
         <section class="content">
          <div class="row" *ngIf='preload'>
            <div class="col-md-2 offset-md-5">
                <i class="fa fa-circle-o-notch fa-spin" style="font-size:64px"></i>  
            </div>
          </div> 
          <div class="container-fluid">
              <div class="card" *ngFor="let producto of listaProductos">
                  <div class="card-header no-border">
                    <div class="card-tools float-left">
                      <div class="card-tools float-left">
                        <div class="btn-group show">
                            <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                              <i class="fa fa-ellipsis-v"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="top-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-125px, -148px, 0px);">
                              <a href="javascript:void(0)" class="nav-link dropdown-item" (click)="abrirStock(producto.id)">Ver Stock</a>
                              <a href="javascript:void(0)" class="nav-link dropdown-item" (click)="abrirEntradaStock()">Entrada Inventario</a>
                            </div>
                          </div>
                      </div>
                    </div>
                    <h5 class="card-title">Id : {{producto.id}}</h5>
                    <div class='row'>
                      <div class="col-md-4 col-sm-6">
                        <strong>Nombre : </strong>{{producto.nombre}}
                      </div>
                      <div class="col-md-4 col-sm-6">
                        <strong>Categoria : </strong>{{producto.categoria}}
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        </section>
    </div>
  </div>

  <main-footer></main-footer>
  