<main-sidebar-header></main-sidebar-header>
<main-sidebar-container></main-sidebar-container>

<div class="wrapper" >
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h4 class="m-0 text-dark">Nuevo producto</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item">
                        <a class="nav-link" [routerLink]="['/producto-lista']">
                          <i class="fa fa-arrow-left"></i> Volver
                        </a>
                      </li>
                    </ol>
                  </div>
              </div>
            </div>
          </div>
         <section class="content">
          <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                  <div class="form-group"> 
                    <label for="exampleInputEmail1">Nombre</label>
                    <input type="text" class="form-control" name='nombre' [(ngModel)]="nombre">
                  </div>
                  <div class="form-group">
                    <label>Categoria</label>
                    <select class="form-control" name='categoria' [(ngModel)]="idcategoria">
                      <option value=0>Seleccione la categoria</option>
                      <option value=7>Papeleria</option>
                      <option value=8>Tecnologia</option>
                      <option value=9>Oficina</option>
                      <option value=10>Portatil lenovo</option>
                    </select>
                  </div>
                </div>
            </div>
            
            <button class="btn  btn-info float-right" (click)="guardar()" [disabled]='preload_guardar'>
              Guardar producto
              <i style='font-size:20px' class="fa fa-spinner fa-spin fa-loader"  *ngIf='preload_guardar'></i>
            </button>
          </div>
        </section>
    </div>
</div>

<main-footer></main-footer>
  